@import './frontpage.less';
@import './studydocList.less';

div {
    border: solid 1px black;
}

@font-face {
    font-family: 'DINPro Regular';
    src: url('/assets/font/DINPro-Regular.otf') format('opentype');
}

#amiv-container {
    max-width: 1280px;
    display: block;
    margin: 0 auto;
    font-family: 'DINPro Regular', Helvetica, sans-serif;
}
