@import './frontpage.less';
@import './studydocList.less';

div {
<<<<<<< HEAD
  border: none;
}
=======
    border: solid 1px black;
}

#amiv-container {
    max-width: 1280px;
    display: block;
    margin: 0 auto;
}
>>>>>>> 4b6c554c7a733576d7bea69b758fc04b6ba0f353
