@import './listview.less';

#event-list {
  .listview;

  div {
    border: none;
  }

  .registration {
    background-color: #fff;
  }

  .upcoming {
    background-color: #bbb;
  }

  .past {
    background-color: #777;
  }
}
