#frontpage-container {
    // Grid general settings
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
    align-content: center;
    text-align: center;
    border: none;
    
    // Hot sector on the frontpage
    .hot-row {
        // Grid of 12 frame colums
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 15;

        // Grid declaration for sub items, 2 frame columns
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        border: none;

        .hot-first-card {
            background-color: red;
            grid-row-start: 1;
            grid-row-end: 3;
            // TODO: Title, Picture and shit
        }

        .hot-card {
            background-color: aqua;
            // TODO: Title, Picture and shit
        }
    }

    .frontpage-row{
        grid-column-start: 1;
        grid-column-end: 13;

        // Grid declaration for sub items, 3 frame columns
        display: grid;
        border: none;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;

        .frontpage-card{
            background-color: greenyellow;
            grid-row-start: 1;
            grid-row-end: 8;
            // TODO: Title, Picture and shit
        }   
    }
}