.listview {
  div.filter, div.content {
    border-right: dotted 3px black;
  }
  div.filter, div.content, div.details {
    padding: 10px;
  }
  display: grid;
  grid-template-columns: 20% 30% auto;
  .filter{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
  }
  .content{
    table {
      width: 100%;
      text-align: left;
      tr.list-items {
        cursor: pointer;
      }
    }
  }
  .details{

  }
}
