.listview {
  display: grid;
  grid-template-columns: auto auto auto;
  .filter{

      }
      .content{
        table {
          width: 100%;
          text-align: left;
        }
      }
      .details{

      }
}
