.listview {
  div.filter, div.content {
    border-right: solid 1px black;
  }
  div.filter, div.details {
    padding: 5px;
  }
  display: grid;
  grid-template-columns: 20% 30% auto;
  .filter{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
  }
  .content{
    overflow-y:scroll;
    height: 500px;
    div.content-grid {
      display:grid;
      grid-template-columns: 70% auto;
      grid-row-gap: 5px;
      div{
        padding: 10px;
      }
      div.list-header {
        border-bottom: solid 1px black;
      }
      div.list-item {
        cursor: pointer
      }
    }
  }
  .details{

  }
}
