@import './colors.less';

.board-notice {
  margin-top: 1em;

  a {
    margin-left: .25em;
  }
}

.board {
  margin-top: 8em;

  > div {
    display: grid;
    margin-bottom: 8em;
    grid-gap: 4em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title title'
      'image description';

    &:nth-child(even) {
      grid-template-areas:
        'title title'
        'description image';
    }

    @media @mobile {
      grid-template-columns: 1fr;
      grid-template-areas:
        'title'
        'image'
        'description' !important;
    }

    &.no-roles > div {
      margin-top: -8em;
    }

    > h2 {
      grid-area: title;
      text-align: center;
      margin: 0;
    }

    > div.image {
      grid-area: image;
      height: 0;
      align-self: start;
    }

    > div.descriptions {
      grid-area: description;
      align-self: start;

      p {
        margin-left: 0;
        margin-right: 0;
      }
    }

    // used on old boards page
    ul.members {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 1.75em;

      .name {
        font-weight: bold;
      }

      .role {
        font-style: italic;
        margin: .25em;
      }

      .role:before {
        content: '(';
      }

      .role:after {
        content: ')';
      }
    }
  }

  p {
    text-align: justify;
  }
}
