@import './colors.less';

.event-header {
  display: grid;
  grid-template-areas: 'image content';
  grid-template-columns: 150px 1fr;

  @media @mobile {
    grid-template-areas: 'content';
    grid-template-columns: 1fr;
  }

  .image {
    grid-area: image;
    display: block;

    @media @mobile {
      display: none;
    }
  }

  .event-content {
    grid-area: content;
    padding: 1em;

    .title {
      padding: 0;
      padding-bottom: .25em;
      margin: 0;
    }

    .catchphrase {
      font-style: italic;
      padding-bottom: 1em;
    }

    .date {
      padding-bottom: .75em;
    }

    .properties {
      width: 100%;
    }

    .property {
      display: inline-block;

      &:after {
        content: '/';
        color: @color-red;
        margin: 0 1em;
      }

      .name:after {
        content: ':';
        padding-right: .5em;
      }

      &:last-of-type:after {
        content: '';
        margin: 0;
      }
    }
  }
}
