@import './colors.less';

.filtered-list {
  min-height: 100%;
  display: grid;
  grid-template-columns: 17em 1fr auto;

  @media @tablet {
    grid-template-columns: 17em 1fr;
  }

  @media @mobile {
    display: block;
    padding: 0;
  }

  &.mobile-show-filter {
    @media @mobile {
      div.filter {
        display: grid;
      }
    }
  }

  .action-button {
    position: relative;
    display: none;
    cursor: pointer;
    padding: .5em;
    text-align: center;
    background-color: @color-grey;
    line-height: 1.5em;
    height: 2.5em;
    z-index: 100;

    @media @mobile {
      display: block;
    }

    &:hover {
      color: @color-red;
    }

    > div {
      top: -8px;
      padding-right: 1em;
    }

    img {
      height: 100%;
      margin-right: .5em;
    }

    span {
      vertical-align: super;
    }
  }

  .filter {
    position: sticky;
    display: grid;
    align-content: start;
    grid-gap: 20px;
    padding: 1.5em;

    @media @mobile {
      display: none;
      border-bottom: 1em solid @color-grey;
      padding: 1em;
    }

    h4 {
      margin: 0;
    }

    form {
      display: grid;
      grid-row: auto auto;
    }

    .check,.drop,.radio {
      display: grid;
      grid-row: auto auto;
      grid-gap: 10px;
    }
  }

  .content {
    position: relative;
    padding-top: calc(1.5em - 8px);

    @media @mobile {
      border: none;
      padding: 1em;
      min-height: 40vh;
    }

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    .empty-list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 1.2em;
      text-align: center;
      width: calc(100% - 2em);
    }

    .list_header {
      position: sticky;
      top: 24px;
      z-index: 10;
      background-color: @color-grey;
      border-radius: 4px;
    }
  }

  .load-more-items {
    position: relative;
    width: 100%;
    padding: 1em 0;
    text-align: center;

    &.active {
      cursor: pointer;
    }

    .spinner {
      display: inline-block;
      position: relative;
      top: .5em;
    }
  }
}
