@import './colors.less';

footer {
  background-color: @color-dark-blue;
  color: @color-grey;

  > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 1em;
    margin: 0 auto;

    @media @wide, @desktop {
      grid-template-columns: 50% 25% 25%;
      grid-template-areas: 'copyright social-media-logos institution-logos';
      max-width: @dimension-max-content-width;
    }

    @media @tablet {
      grid-template-columns: 50% 25% 25%;
      grid-template-areas: 'copyright social-media-logos institution-logos';
      font-size: .7em;
    }

    @media @mobile {
      grid-template-columns: 1fr;
      grid-template-areas:
        'copyright'
        'social-media-logos'
        'institution-logos';
    }
  }
}

footer div.copyright {
  display: flex;
  align-items: center;
  justify-content: left;
  grid-area: copyright;
  padding: 2.5em .7em;

  @media @mobile {
    justify-content: center;
  }

  a {
    margin-left: 1em;
    color: @color-red;
    text-decoration: none;
  }
}

footer div.social-media-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: social-media-logos;

  @media @mobile {
    justify-content: center;
  }

  a {
    position: relative;

    img {
      height: 2em;
      padding: 0 .7em;
    }
  }
}

footer div.institution-logos {
  display: flex;
  justify-content: right;
  align-items: center;
  grid-area: institution-logos;

  @media @mobile {
    justify-content: center;
  }

  a {
    position: relative;

    img {
      height: 4em;
      max-width: 100%;
      background-color: @color-dark-blue;
    }
  }
}
