@import './colors.less';

footer {
  background-color: @color-dark-blue;
  color: @color-grey;

  > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 1em;
    margin: 0 auto;

    @media @wide, @desktop {
      grid-template-columns: 1fr auto auto;
      grid-template-areas: 'copyright eth-logo vseth-logo';
      max-width: @dimension-max-content-width;
    }

    @media @tablet {
      grid-template-columns: 1fr auto auto;
      grid-template-areas: 'copyright eth-logo vseth-logo';
      font-size: .7em;
    }

    @media @mobile {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'copyright copyright'
        'eth-logo vseth-logo';
    }
  }
}

footer div.copyright {
  display: flex;
  align-items: center;
  justify-content: left;
  grid-area: copyright;
  padding: 2.5em 0;

  @media @mobile {
    justify-content: center;
  }

  a {
    margin-left: 1em;
    color: @color-red;
    text-decoration: none;
  }
}

footer .vseth {
  grid-area: vseth-logo;
}

footer .eth {
  grid-area: eth-logo;
}

footer div.footer-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    position: relative;

    img {
      height: 4em;
      max-width: 100%;
      background-color: @color-dark-blue;
    }
  }
}
