@import './colors.less';

footer {
  background-color: @color-dark-blue;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: @color-grey;

  div.copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: ~'1 / 3';

    .copyright {
      padding-right: 1em;
      border-right: 1px solid #fff;

      @media @mobile {
        display: block;
        grid-column: ~'1 / 7';
        border-right: none;
        padding: 2em 0 0;
        margin-bottom: 1em;
      }
    }

    a {
      margin-left: 1em;
      color: @color-red;
      text-decoration: none;
    }
  }

  div.footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column: span 2;

    @media @mobile {
      grid-column: span 3;
    }

    a {
      position: relative;

      img {
        height: 4em;
        max-width: 100%;
        background-color: @color-dark-blue;
      }
    }
  }
}
