@import './colors.less';

.infobox {
  position: relative;
  text-align: left;
  padding: .5em .5em .5em 2.5em;
  background-color: @color-grey;
  line-height: 1.5em;
  border-radius: 4px;

  .pe-icon {
    position: absolute;
    font-size: inherit;
    top: 50%;
    left: .5em;
    transform: translateY(-50%);
  }

  span {
    display: inline-block;
  }
}
