.listview {
  min-height: 100%;
  display: grid;
  grid-template-columns: 20% 30% auto;

  &.no-details {
    grid-template-columns: 20% auto;
  }

  div.content {
    border: 1px solid #000;
    border-width: 0 1px;
  }

  div.filter,div.details {
    position: sticky;
    top: 0;
    padding: 5px;
  }

  .filter {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-content: start;
    grid-gap: 20px;

    form {
      display: grid;
      grid-row: auto auto;
    }

    .check,.drop {
      display: grid;
      grid-row: auto auto;
      grid-gap: 10px;
    }
  }

  .content {
    div.list-item {
      border-bottom: 1px solid #000;
      cursor: pointer;

      h2 {
        margin: 0;
        padding: 1em 0;
      }
    }
  }

  div.load-more-items {
    display: inline-block;
    width: 100%;
    padding: 1em 0;
    text-align: center;

    &.active {
      cursor: pointer;
    }
  }
}
