#studydoc-list {
  div.list-item {
    display: grid;
    grid-template-columns: auto 30% 20%;
    grid-row-gap: 5px;
    padding: 5px 0 5px 0;

    &:first-of-type {
      font-weight: bold;
      border-bottom: solid 1px #000;
    }
  }
}
