.teams {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  text-align: center;
  padding-bottom: 3em;

  @media @tablet {
    grid-template-columns: 1fr 1fr;
  }

  @media @mobile {
    grid-template-columns: 1fr;
  }
}

.description {
  text-align: justify;

  p { margin: 16px; }
}

.team {
  .pe-card__media {
    height: 0 !important;
  }

  .pe-card__content {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
  }
}
